@import "_vars.scss";
@import "variants.scss";
@import "fonts.scss";

body {
    background-color: $background;
}

// Font classes
.os {
    font-family: $OstrichSans;
}

.os-bold {
    font-family: $OstrichSansBold;
}

.os-black {
    font-family: $OstrichSansBlack;
}